.root {
  margin: 10px;
  width: 630px;
  max-width: 630px;
  height: 300px;
  max-height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

.row {
  padding: 5px;
}
.row:nth-child(even) {
  background: #CCC;
}
.row:nth-child(odd) {
  background: #EEE;
}
